.page-view {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    position: fixed;
    z-index: 999999;
  }
  
  .page-view .project {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #slogan{
    opacity: 0;
    transition: 0.4s ease;
  }
  .page-view .project .text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    display: table;
    text-align: center;
    color: #A49B81;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    animation: 0.4s;
  }
  
  .page-view .project .text p {
    font-size: 16px;
    position: absolute;
    bottom: 40px;
    right: 60px;
    margin: 0;
  }
  
  .page-view .project:nth-child(1) {
    z-index: 30;
  }
  
  @media screen and (max-width: 640px) {
    .page-view .project .text h1 {
      font-size: 36px;
    }
    .page-view .project .text p {
      bottom: 20px;
      margin: 0;
      text-align: center;
      width: 100%;
      right: auto;
      font-size: 14px;
    }
  }
  
  @-webkit-keyframes mask-play {
    from {
      -webkit-mask-position: 0% 0;
              mask-position: 0% 0;
    }
    to {
      -webkit-mask-position: 100% 0;
              mask-position: 100% 0;
    }
  }
  
  @keyframes mask-play {
    from {
      -webkit-mask-position: 0% 0;
              mask-position: 0% 0;
    }
    to {
      -webkit-mask-position: 100% 0;
              mask-position: 100% 0;
    }
  }
  
  @keyframes fadeOut{
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }
  
  .intro .page-view .project:nth-child(1) {
    background : white;
  }
  
  .animateHide {
    -webkit-mask: url('../../img/sprite.png');
            mask: url('../../img/sprite.png');
    -webkit-mask-size: 2300% 100%;
            mask-size: 2300% 100%;
  
    -webkit-animation: mask-play 1s steps(22) forwards;
            animation: mask-play 1s steps(22) forwards;
  }
  
  .hideIE {
    animation: fadeOut 1.4s forwards;
  }